:root {
  --menu-icon-line-height: 8px;
  --menu-icon-line-margin: 14px;
  --menu-icon-line-offset: 22px;
  --menu-icon-line-offset-negative: -22px;
}

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 6px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #0891b2;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-icon {
  background: transparent;
  border: none;
  position: relative;
  cursor: pointer;
}

.line-menu {
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: var(--menu-icon-line-margin);
  height: var(--menu-icon-line-height);
  width: 84px;
}

.line-menu.line-1.no-animation,
.line-menu.line-2.no-animation,
.line-menu.line-3.no-animation {
  animation: none;
}

.line-menu.line-3 {
  margin-bottom: 0;
}

.line-menu.line-1 {
  animation: animation-back-line-1 forwards ease-in-out 0.7s;
}

.line-menu.line-1.active {
  animation: animation-line-1 forwards ease-in-out 0.7s;
}

.line-menu.line-2 {
  animation: animation-back-line-2 forwards ease-in-out 0.7s;
}

.line-menu.line-2.active {
  animation: animation-line-2 forwards ease-in-out 0.7s;
}

.line-menu.line-3 {
  animation: animation-back-line-3 forwards ease-in-out 0.7s;
}

.line-menu.line-3.active {
  animation: animation-line-3 forwards ease-in-out 0.7s;
}

@keyframes animation-line-1 {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(var(--menu-icon-line-offset));
  }
  100% {
    transform: translateY(var(--menu-icon-line-offset)) rotate(45deg);
  }
}

@keyframes animation-back-line-1 {
  0% {
    transform: translateY(var(--menu-icon-line-offset)) rotate(45deg);
  }
  50% {
    transform: translateY(var(--menu-icon-line-offset));
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes animation-line-2 {
  0% {
    opacity: 100;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes animation-back-line-2 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 100;
    transform: scale(1);
  }
}

@keyframes animation-line-3 {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(var(--menu-icon-line-offset-negative));
  }
  100% {
    transform: translateY(var(--menu-icon-line-offset-negative)) rotate(135deg);
  }
}

@keyframes animation-back-line-3 {
  0% {
    transform: translateY(var(--menu-icon-line-offset-negative)) rotate(135deg);
  }
  50% {
    transform: translateY(var(--menu-icon-line-offset-negative));
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
