@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

:root {
  --primary-color: #2e1065;
}

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 6px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #333;
  font-family: "Inter", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2e1065;
  background: linear-gradient(145deg, #2e1065 38%, #8b5cf6 100%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background: #f5f3ff;
  height: 290px;
  width: 320px;
  border-radius: 4px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  display: flex;
}

.profile {
  padding: 16px;
  text-align: center;
  color: var(--primary-color);
  width: 57%;
}

.avatar {
  margin: 16px auto;
  width: max-content;
  position: relative;
  cursor: pointer;
}

.avatar .avatar-border-external {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--primary-color);
  border-right-color: transparent;
  border-radius: 50%;
  height: 76px;
  width: 76px;
  padding: 2px;
  transform-origin: 0 0;
  transition: rotate 1.5s ease-out;
}

.avatar:hover .avatar-border-external {
  rotate: -360deg;
}

.avatar .avatar-border-internal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--primary-color);
  border-left-color: transparent;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  padding: 2px;
  transform-origin: 0 0;
  transition: rotate 1.5s ease-in-out;
}

.avatar:hover .avatar-border-internal {
  rotate: 360deg;
}

.avatar .avatar-img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  background-image: url(https://images.unsplash.com/photo-1572505185551-592ffdf667fb?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTAyNDUwOTZ8&ixlib=rb-4.0.3&q=85);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile h1 {
  font-size: 14px;
  margin-bottom: 0;
}

.profile h2 {
  font-size: 10px;
  font-weight: 400;
  margin: 4px 0 30px;
}

.profile .profile-button {
  font-size: 12px;
  font-weight: 600;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 8px;
  width: 100px;
  display: block;
  margin: 10px auto;
  transition: 0.5s ease;
  cursor: pointer;
}

.profile .profile-button:hover {
  background: var(--primary-color);
  color: #f5f3ff;
}

.total-container {
  display: flex;
  flex-direction: column;
  width: 43%;
  border-radius: inherit;
}

.total-container .total {
  flex-grow: 1;
  color: #f5f3ff;
  background: rgba(139, 92, 246, 0.8);
  border-top: 1px solid #f5f3ff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.total-container .total:hover {
  background: rgba(139, 92, 246, 1);
}

.total-container .total:first-child {
  border: none;
  border-top-right-radius: inherit;
}

.total-container .total:last-child {
  border-bottom-right-radius: inherit;
}

.total-container .total {
  font-size: 18px;
  font-weight: 600;
}

.total-container .total .total-text {
  font-size: 11px;
  font-weight: 400;
}
