.app {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 6px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  background: #141f38;
  height: 300px;
  position: relative;
}

.moon {
  background: #fef9c3;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  box-shadow: 0 0 8px #fef08a;
  position: relative;
  transform: translate(60px, 50px);
  animation: moon-rising 1s ease-out forwards;
}

@keyframes moon-rising {
  from {
    transform: translate(40px, 200px);
  }

  to {
    transform: translate(60px, 50px);
  }
}

.moon .moon-crater {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  position: absolute;
}

#moon-crater-1 {
  height: 12px;
  width: 12px;
  top: 10px;
  left: 25px;
}

#moon-crater-2 {
  height: 6px;
  width: 6px;
  top: 18px;
  left: 42px;
}

#moon-crater-3 {
  height: 7px;
  width: 7px;
  top: 24px;
  right: 0px;
}

#moon-crater-4 {
  height: 4px;
  width: 4px;
  top: 26px;
  left: 14px;
}

#moon-crater-5 {
  height: 6px;
  width: 6px;
  top: 30px;
  left: 24px;
}

#moon-crater-6 {
  height: 5px;
  width: 5px;
  top: 40px;
  left: 36px;
}

#moon-crater-7 {
  height: 7px;
  width: 7px;
  top: 32px;
  left: 46px;
}

#moon-crater-8 {
  height: 7px;
  width: 7px;
  top: 50px;
  left: 28px;
}

#moon-crater-9 {
  height: 7px;
  width: 14px;
  bottom: 6px;
  left: 8px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  transform: rotate(45deg);
}

#moon-crater-10 {
  height: 6px;
  width: 12px;
  top: 16px;
  left: 1px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transform: rotate(135deg);
}

.mountain-front {
  background: #303950;
  height: 170px;
  width: 340px;
  border-top-left-radius: 340px;
  border-top-right-radius: 340px;
  position: absolute;
  z-index: 2;
}

#mountain-front-1 {
  bottom: -100px;
  left: -130px;
}

#mountain-front-2 {
  bottom: -70px;
  right: 0;
}

#mountain-front-3 {
  bottom: -100px;
  right: -220px;
}

.mountain-back {
  background: #242c42;
  height: 200px;
  width: 400px;
  border-top-left-radius: 400px;
  border-top-right-radius: 400px;
  position: absolute;
  z-index: 1;
}

#mountain-back-1 {
  bottom: -84px;
  left: -90px;
}

#mountain-back-2 {
  bottom: -76px;
  right: -150px;
}

.rain-drop {
  border-radius: 50%;
  position: absolute;
}

.rain-drop:before {
  content: '';
  position: absolute;
  transform: translateX(-50%);
}

.rain-drop.bg {
  background: #7dd3fc;
  height: 10px;
  width: 10px;
  transform: rotate(18deg) translate(60px, -100px);
  animation: rain-dropping 1s linear infinite;
  z-index: 5;
}

.rain-drop.bg:before {
  top: -12px;
  left: 50%;
  border: 5px solid transparent;
  border-bottom: 10px solid #7dd3fc;
}

.rain-drop.md {
  filter: brightness(0.6);
  background: #7dd3fc;
  height: 8px;
  width: 8px;
  transform: rotate(18deg) translate(60px, -100px);
  animation: rain-dropping 1.5s linear infinite;
  z-index: 4;
}

.rain-drop.md:before {
  top: -10px;
  left: 50%;
  border: 4px solid transparent;
  border-bottom: 8px solid #7dd3fc;
}

.rain-drop.sm {
  filter: brightness(0.4);
  background: #7dd3fc;
  height: 4px;
  width: 4px;
  transform: rotate(18deg) translate(60px, -100px);
  // animation: rain-dropping 2.5s linear infinite;
  z-index: 3;
}

.rain-drop.sm:before {
  top: -5px;
  left: 50%;
  border: 2px solid transparent;
  border-bottom: 4px solid #7dd3fc;
}

#rain-drop-bg-1 {
  animation-delay: 2s;
}

#rain-drop-bg-2 {
  margin-left: 30px;
  animation-delay: 2.5s;
}

#rain-drop-bg-3 {
  margin-left: 63px;
  animation-delay: 3.2s;
}

#rain-drop-bg-4 {
  margin-left: 100px;
  animation-delay: 1s;
}

#rain-drop-bg-5 {
  margin-left: 170px;
  animation-delay: 1.8s;
}

#rain-drop-bg-6 {
  margin-left: 230px;
  animation-delay: 1.4s;
}

#rain-drop-bg-7 {
  margin-left: 250px;
  animation-delay: 1.7s;
}

#rain-drop-bg-8 {
  margin-left: 290px;
  animation-delay: 1.9s;
}

#rain-drop-bg-9 {
  margin-left: 350px;
  animation-delay: 2.1s;
}

#rain-drop-md-1 {
  animation-delay: 1s;
}

#rain-drop-md-2 {
  margin-left: 80px;
  animation-delay: 2s;
}

#rain-drop-md-3 {
  margin-left: 120px;
  animation-delay: 4s;
}

#rain-drop-md-4 {
  margin-left: 150px;
  animation-delay: 3s;
}

#rain-drop-md-5 {
  margin-left: 150px;
  animation-delay: 2.8s;
}

#rain-drop-md-6 {
  margin-left: 200px;
  animation-delay: 3.3s;
}

#rain-drop-md-7 {
  margin-left: 230px;
  animation-delay: 3s;
}

#rain-drop-md-8 {
  margin-left: 270px;
  animation-delay: 1.2s;
}

#rain-drop-md-9 {
  margin-left: 330px;
  animation-delay: 3.5s;
}

#rain-drop-sm-1 {
  animation-delay: 2s;
}

#rain-drop-sm-2 {
  margin-left: 10px;
  animation-delay: 3.6s;
}

#rain-drop-sm-3 {
  margin-left: 60px;
  animation-delay: 2.5s;
}

#rain-drop-sm-4 {
  margin-left: 100px;
  animation-delay: 1.2s;
}

#rain-drop-sm-5 {
  margin-left: 140px;
  animation-delay: 2s;
}

#rain-drop-sm-6 {
  margin-left: 180px;
  animation-delay: 3.6s;
}

#rain-drop-sm-7 {
  margin-left: 250px;
  animation-delay: 1.6s;
}

#rain-drop-sm-8 {
  margin-left: 290px;
  animation-delay: 3s;
}

#rain-drop-sm-9 {
  margin-left: 330px;
  animation-delay: 2.5s;
}

@keyframes rain-dropping {
  0% {
    transform: translate(60px, -100px) scaleX(1) scaleY(1) rotate(18deg);
    opacity: 1;
  }

  94% {
    transform: translate(12px, 227px) scaleX(1) scaleY(1) rotate(18deg);
    opacity: 1;
  }

  99% {
    transform: translate(12px, 230px) scaleX(3) scaleY(0.2) rotate(18deg);
    opacity: 0.3;
  }

  100% {
    transform: translate(12px, 230px) scaleX(3) scaleY(0) rotate(18deg);
    opacity: 0;
  }
}

.footer {
  background: #f8fafc;
  height: 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 16px 24px;
  position: relative;
  z-index: 2;
}

.footer .footer-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 16px;
}

.footer .footer-item .temperature {
  font-size: 48px;
  margin-right: 16px;
}

.footer .additional-infos p {
  font-size: 16px;
  margin: 0;
}

.footer .footer-item .days p {
  margin: 0 8px 0;
  text-align: right;
}

.footer .footer-item .temperature-days p {
  margin: 0;
  font-weight: 600;
  text-align: right;
}
